<html>
  <head>
    <title>Bookmarks</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@vuepic/vue-datepicker@latest/dist/main.css"
    />
    <style type="text/css">
      :root {
        --text: #000;
        --bg: #fff;
      }

      body {
        background-color: var(--bg);
        color: var(--text);
        font-size: 20px;
        margin: 20px 0 0 0;
      }

      a {
        color: deepskyblue;
      }

      @media (prefers-color-scheme: dark) {
        :root {
          --text: #fff;
          --bg: #000;
        }
      }
    </style>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3.2.47/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/@vuepic/vue-datepicker@latest"></script>
    <script type="module" setup>
      const date = Vue.ref();
      const dateClockify = Vue.ref();
      const urlParams = new URLSearchParams(window.location.search);

      const urlParam = urlParams.get("date");
      const startDate = urlParam ? new Date(urlParam) : new Date();
      if (!urlParam) {
        startDate.setDate(startDate.getDate() - ((startDate.getDay() + 6) % 7)); // last monday
      }
      const endDate = new Date(
        new Date(startDate).setDate(startDate.getDate() + 21)
      );
      date.value = [startDate, endDate];
      const startDateString = date.value[0].toISOString().split("T")[0];
      const endDateString = date.value[1].toISOString().split("T")[0];

      const startDateClockify = new Date(
        new Date().setDate(new Date().getDate() - 7)
      );
      const endDateClockify = new Date();
      dateClockify.value = [startDateClockify, endDateClockify];
      const startDateClockifyString = dateClockify.value[0].toISOString().split("T")[0];
      const endDateClockifyString = dateClockify.value[1].toISOString().split("T")[0];

      Vue.createApp({
        components: { Datepicker: VueDatePicker },
        data() {
          return {
            date,
            dateClockify,
            startDateString,
            endDateString,
            startDateClockifyString,
            endDateClockifyString,
            handleDate: (date) => {
              this.startDateString = date[0].toISOString().split("T")[0];
              this.endDateString = date[1].toISOString().split("T")[0];
            },
            handleDateClockify: (date) => {
              this.startDateClockifyString = date[0]
                .toISOString()
                .split("T")[0];
              this.endDateClockifyString = date[1].toISOString().split("T")[0];
            },
            showClockifyRunSupport: false,
            showClockifyRunDevops: false,
            showClockifyConception: false,
            showClockifyHorsProjet: false
          };
        },
        methods: {},
      }).mount("#app");
    </script>

    <div id="app">
      <DatePicker
        v-model="date"
        range
        auto-range="21"
        multi-calendars
        :enable-time-picker="false"
        :format="'dd/MM/yyyy'"
        dark
        @update:model-value="handleDate"
      ></DatePicker>
      <ul>
        <li>
          <a
            :href="'https://neo9-team.atlassian.net/projects/CATW?name=run&selectedItem=com.atlassian.plugins.atlassian-connect-plugin:com.gebsun.atlassian.reports.free__report#!/?datem=useFromTo&from=' + startDateString + '&to=' + endDateString + '&groupBy=issuetype%2Ccom.gebsun.fields.worklogAuthor%2Cissuekey&jqlFilter=key%20in%20%28CATW-2384%2CCATW-2387%29&period=days&projects=10009&timeZone=user&wlFormat=hours'"
            >Run (Support Devops + Support Clients)</a
          >
        </li>
        <li>
          <a
            :href="'https://neo9-team.atlassian.net/projects/CATW?name=conception&selectedItem=com.atlassian.plugins.atlassian-connect-plugin:com.gebsun.atlassian.reports.free__report#!/?datem=useFromTo&from=' + startDateString +'&to=' + endDateString + '&groupBy=issuetype%2Cissuekey%2Ccom.gebsun.fields.worklogAuthor&jqlFilter=key %3D CATW-2507&period=days&projects=10009&timeZone=user&wlFormat=hours'"
            >Conception</a
          >
        </li>
        <li>
          <a
            :href="'https://neo9-team.atlassian.net/projects/CATW?name=recette&selectedItem=com.atlassian.plugins.atlassian-connect-plugin:com.gebsun.atlassian.reports.free__report#!/?datem=useFromTo&from=' + startDateString + '&to=' + endDateString + '&groupBy=issuetype%2Ccom.gebsun.fields.worklogAuthor&jqlFilter=type%20%3D%20bug&period=days&projects=10009&timeZone=user&wlFormat=hours'"
            >Recette</a
          >
        </li>
        <li>
          <a
            :href="'https://neo9-team.atlassian.net/projects/CATW?name=hors-projet&selectedItem=com.atlassian.plugins.atlassian-connect-plugin:com.gebsun.atlassian.reports.free__report#!/?datem=useFromTo&from=' + startDateString + '&to=' + endDateString + '&groupBy=issuetype%2Cissuekey%2Ccom.gebsun.fields.worklogAuthor&jqlFilter=key %3D CATW-2385&period=days&projects=10009&timeZone=user&wlFormat=hours'"
            >Hors projet</a
          >
          <ul>
            <li>
              <a href="https://neo9-team.atlassian.net/browse/CATW-2385"
                >CATW-2385</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            href="https://docs.google.com/spreadsheets/d/1E6p2aJg2I42nUzfX9J908gO1WADHxj6xAd2fOdstDQY/edit#gid=2008209731"
            >Référence (Google Sheet)</a
          >
        </li>
      </ul>
      <br />
      <hr />
      <br />
      <br />
      <br />
      <DatePicker
        v-model="dateClockify"
        range
        auto-range="7"
        multi-calendars
        :enable-time-picker="false"
        :format="'dd/MM/yyyy'"
        dark
        @update:model-value="handleDateClockify"
      ></DatePicker>
      <ul>
        <li>
          Run
          <ul>
            <li>
              <a href="https://neo9-team.atlassian.net/browse/CATW-2384"
                >CATW-2384</a
              >
              :
              <a
                :href="'https://app.clockify.me/reports/summary?start='+startDateClockifyString+'T00:00:00.000Z&end='+endDateClockifyString+'T23:59:59.999Z&filterValuesData=%7B%22tags%22:%5B%2262f4cc3aa55bc1652133ca32%22%5D%7D&filterOptions=%7B%22tags%22:%7B%22status%22:%22ACTIVE%22,%22contains%22:%22CONTAINS%22%7D%7D'"
                target="_blank"
                >Run Support Clockify</a
              ><br />
              <button @click="showClockifyRunSupport = !showClockifyRunSupport">Show/hide</button>
              <iframe
                v-if="showClockifyRunSupport"
                :src="'https://app.clockify.me/reports/summary?start='+startDateClockifyString+'T00:00:00.000Z&end='+endDateClockifyString+'T23:59:59.999Z&filterValuesData=%7B%22tags%22:%5B%2262f4cc3aa55bc1652133ca32%22%5D%7D&filterOptions=%7B%22tags%22:%7B%22status%22:%22ACTIVE%22,%22contains%22:%22CONTAINS%22%7D%7D'"
                height="500"
                width="100%"
                style="border: none"
              >
              </iframe>
            </li>
            <li>
              <a href="https://neo9-team.atlassian.net/browse/CATW-2387"
                >CATW-2387</a
              >
              :
              <a
                :href="'https://app.clockify.me/reports/summary?start='+startDateClockifyString+'T00:00:00.000Z&end='+endDateClockifyString+'T23:59:59.999Z&filterValuesData=%7B%22tags%22:%5B%2263bd23cd6e59b4047b40e901%22,%2262fb829cf255177d051d16ba%22%5D%7D&filterOptions=%7B%22tags%22:%7B%22status%22:%22ACTIVE%22,%22contains%22:%22CONTAINS%22%7D%7D'"
                target="_blank"
                >Run Devops Clockify</a
              ><br />
              <button @click="showClockifyRunDevops = !showClockifyRunDevops">Show/hide</button>
              <iframe
                v-if="showClockifyRunDevops"
                :src="'https://app.clockify.me/reports/summary?start='+startDateClockifyString+'T00:00:00.000Z&end='+endDateClockifyString+'T23:59:59.999Z&filterValuesData=%7B%22tags%22:%5B%2263bd23cd6e59b4047b40e901%22,%2262fb829cf255177d051d16ba%22%5D%7D&filterOptions=%7B%22tags%22:%7B%22status%22:%22ACTIVE%22,%22contains%22:%22CONTAINS%22%7D%7D'"
                height="500"
                width="100%"
                style="border: none"
              >
              </iframe>
            </li>
          </ul>
        </li>
        <li>
          Conception
          <ul>
            <li>
              <a href="https://neo9-team.atlassian.net/browse/CATW-2507"
                >CATW-2507</a
              >
              :
              <a
                :href="'https://app.clockify.me/reports/summary?start='+startDateClockifyString+'T00:00:00.000Z&end='+endDateClockifyString+'T23:59:59.999Z&filterValuesData=%7B%22tags%22:%5B%2262fba6cdf255177d051f9025%22%5D%7D&filterOptions=%7B%22tags%22:%7B%22status%22:%22ACTIVE%22,%22contains%22:%22CONTAINS%22%7D%7D'"
                target="_blank"
                >Conception Clockify</a
              ><br />
              <button @click="showClockifyConception = !showClockifyConception">Show/hide</button>
              <iframe
                v-if="showClockifyConception"
                :src="'https://app.clockify.me/reports/summary?start='+startDateClockifyString+'T00:00:00.000Z&end='+endDateClockifyString+'T23:59:59.999Z&filterValuesData=%7B%22tags%22:%5B%2262fba6cdf255177d051f9025%22%5D%7D&filterOptions=%7B%22tags%22:%7B%22status%22:%22ACTIVE%22,%22contains%22:%22CONTAINS%22%7D%7D'"
                height="500"
                width="100%"
                style="border: none"
              >
              </iframe>
            </li>
          </ul>
        </li>
        <li>
          Hors Projet :
          <a
            :href="'https://app.clockify.me/reports/summary?start='+startDateClockifyString+'T00:00:00.000Z&end='+endDateClockifyString+'T23:59:59.999Z&filterValuesData=%7B%22tags%22:%5B%2262f4cc3aa55bc1652133ca32%22%5D,%22projects%22:%5B%22without%22,%226177d741517ab54ef31bc64f%22,%225dcaa6896da4494ac414f22c%22,%225df0b840fab8a24fddb84695%22,%226214e38140f87e49fd9c2210%22,%225ed63647f506fc1c940b8d8d%22,%225cdaf10a1080ec2d4a8e523b%22,%22608032573535c248d5d5b477%22,%225cdaf5d7d278ae20615697db%22,%225cdac23e1080ec2d4a8df537%22,%225dcc1e3e6da4494ac419188c%22,%2263878e4b7a81f551823fa20e%22,%225d419c4cd278ae57b51beddf%22,%225cf909fff15c98023cc85b0e%22,%226037adb5cc69900993cc8e64%22,%225f55f5064dd1295ce569eff0%22,%2261b8824cbbafec276a3b5469%22,%22625eb2b978a19a081a556d85%22,%225cf78570d278ae7d8ecd00e1%22%5D%7D&filterOptions=%7B%22tags%22:%7B%22status%22:%22ACTIVE%22,%22contains%22:%22DOES_NOT_CONTAIN%22%7D,%22projects%22:%7B%22status%22:%22ACTIVE%22%7D%7D'"
            target="_blank"
            >Clockify</a
          >
          <br />
              <button @click="showClockifyHorsProjet = !showClockifyHorsProjet">Show/hide</button>
              <iframe
                v-if="showClockifyHorsProjet"
                :src="'https://app.clockify.me/reports/summary?start='+startDateClockifyString+'T00:00:00.000Z&end='+endDateClockifyString+'T23:59:59.999Z&filterValuesData=%7B%22tags%22:%5B%2262f4cc3aa55bc1652133ca32%22%5D,%22projects%22:%5B%22without%22,%226177d741517ab54ef31bc64f%22,%225dcaa6896da4494ac414f22c%22,%225df0b840fab8a24fddb84695%22,%226214e38140f87e49fd9c2210%22,%225ed63647f506fc1c940b8d8d%22,%225cdaf10a1080ec2d4a8e523b%22,%22608032573535c248d5d5b477%22,%225cdaf5d7d278ae20615697db%22,%225cdac23e1080ec2d4a8df537%22,%225dcc1e3e6da4494ac419188c%22,%2263878e4b7a81f551823fa20e%22,%225d419c4cd278ae57b51beddf%22,%225cf909fff15c98023cc85b0e%22,%226037adb5cc69900993cc8e64%22,%225f55f5064dd1295ce569eff0%22,%2261b8824cbbafec276a3b5469%22,%22625eb2b978a19a081a556d85%22,%225cf78570d278ae7d8ecd00e1%22%5D%7D&filterOptions=%7B%22tags%22:%7B%22status%22:%22ACTIVE%22,%22contains%22:%22DOES_NOT_CONTAIN%22%7D,%22projects%22:%7B%22status%22:%22ACTIVE%22%7D%7D'"
                height="500"
                width="100%"
                style="border: none"
              >
              </iframe>
        </li>
      </ul>
    </div>
  </body>
</html>
